header, footer {
    background-color: #0f0c29;
}
header li, footer li {
    display: inline-block;
}
.resource-card {
    width: 18rem;
    background-color: #66619e33 !important;
    margin: 4%;
}
h2 {
    padding-top: 5%;
    padding-bottom: 2%;
}
