header, footer {
    background-color: #0f0c29;
}
header li, footer li {
    display: inline-block;
}
.resource-card {
    background-color: #66619e33 !important;
}
.home-page p, .home-page a{
    font-size: 1.1rem;
    padding-left: 7%;
    padding-right: 7%;
}
.btn-more {
    color: #027bf8 !important;
    background-color: #0f0c29 !important;
}
#drop-menu {
    background-color: #0f0c29;
    color: #027bf8;
    border: 0;
    padding: 3%;
}
.dropdown-menu {
    background-color: #0f0c29 !important;
}
